* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    margin: 0;
}

body{
    background-color: black;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

h1, p{
    margin: 0;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}